@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: "Inter", 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
.provider-logo {
    width: 60px;       /* Smaller than 100px */
    height: auto;      /* Keeps the image aspect ratio */
    margin: 8px;
    border-radius: 6px;
    object-fit: contain;
    border-radius: 0%;
  }
  #serviceProviderList {
    display: flex;
 flex-direction: row;
    justify-content: center;
    gap: 15px;
  }